#sidebar{
    background-color: grey;
    color: white;
}
#topbar{
    background-color: grey;
    color: white;
}
#username{
    margin-top: 10px;
}
#loginpics{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 2% 0%;
}
#logincontent{
    background-color: rgb(85, 85, 85);
    margin-top: 2%;
    padding:0px;
}
#loginpagecontent{
    padding :2%;
}

.content{
    background-color: rgb(255, 255, 255);
    margin :30px 10px 10px 30px;
    
}

