<% include ./partials/header%>

<body>
    <!-- Nav tabs -->
    <% include ./partials/navbar%>
    <div class="container ">
        <table class="table paginated">
            <thead>
                <tr>
                    <th>return_id</th>
                    <th>date</th>
                    <th>qty</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(function(result) { %>
                <tr>
                    <td>
                        <div class="col text-center"> 
                            <a href="/returnDetail/<%=result.return_id%>" class="btn btn-primary btn-sm"><span class="badge badge-warning"><%= result.return_id %></span> | show detail</a>
                        </div>
                     </td>
                    <td><%= result.return_date %></td>
                    <td><%= result.qty %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>

    </div>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/static/sc.js"></script>