<% include ./partials/header%>

<body>
    <!-- Nav tabs -->
    <% include ./partials/navbar%>
    <div class="container ">
        <br>
        <a href="/clearCart" class="btn btn-danger">Clear</a>
        <a href="/checkOut" class="btn btn-primary">CheckOut</a>
                                                                                                                                <table class="table paginated">
            <thead>
                <tr>
                    <th>book_id</th>
                    <th>name</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(function(result) { %>
                <tr>
                    <td><%= result.book_id %></td>
                    <td><%= result.name %></td>

                </tr>
                <% }); %>
            </tbody>
        </table>

    </div>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/static/sc.js"></script>