<% include ./partials/header%>

<body>
    <!-- Nav tabs -->
    <nav class="navbar navbar-expand-sm bg-dark">

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#tab1Id" class="nav-link ">Delta library</a>
            </li>

            <li class="nav-item">
                <a href="/logout" class="btn btn-danger">Logout</a>
            </li>
        </ul>

    </nav>
    <div class="container ">
            <div>
                   
                            <select >  
                                    <option value="1">ชื่อหนังสือ</option>
                                    <option value="2">ประเภท</option>
                                    <option value="3">ผู้แต่ง</option>
                            </select>
                            
                    <input type="text"> <button>search</button>
            </div>
            <table class="table paginated">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Author</th>
                                    <th>YearPublish</th>
                    
                                </tr>
                            </thead>
                            <tbody>
                                <% results.forEach(function(result) { %>
                                <tr>
                                        <td class="text-danger"><%= result.name %> </td>
                                        <td><%= result.category %></td>
                                        <td><%= result.author %></td>
                                        <td><%= result.year_publish %></td>
                                    </tr>
                                <% }); %>
                                
                            </tbody>
                        </table>
                            
        </div>
        </body>
    </html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/static/sc.js"></script>